#page-admin-report-infiniterooms-index .clearfloat { float: none; clear: both; height: 0px; }
#page-admin-report-infiniterooms-index .progress > div { float: left; margin-right: 8pt; }
#page-admin-report-infiniterooms-index p { margin-top: 8pt; }
